# solving exercises

## 0. userinput for ETL parameters

In [4]:
source_path = input("Enter the source path: ")
destination_path = input("Enter destination path: ")

#c/Users/alexa/Documents/github/SQL-Alexander-Hrachovina-DE24/dataplatforms/data-platform-Alexander-Hrachovina-DE24/exercises/input_data.csv
#c/Users/alexa/Documents/github/SQL-Alexander-Hrachovina-DE24/dataplatforms/data-platform-Alexander-Hrachovina-DE24/exercises/output_data.csv

print(f"source: {source_path}")
print(f"destination: {destination_path}")

source: c/Users/alexa/Documents/github/SQL-Alexander-Hrachovina-DE24/dataplatforms/data-platform-Alexander-Hrachovina-DE24/exercises/input_data.csv
destination: c/Users/alexa/Documents/github/SQL-Alexander-Hrachovina-DE24/dataplatforms/data-platform-Alexander-Hrachovina-DE24/exercises/output_data.csv

## 1. Schema validation

**a)**

In [10]:
record = dict(id=101, name="Erika", is_active=True, age=45)
record, type(record)
for i,j in record.items():
    print(f"keytype: {type(i)}")
    print(f"valuetype: {type(j)}")

keytype: <class 'str'>
valuetype: <class 'int'>
keytype: <class 'str'>
valuetype: <class 'str'>
keytype: <class 'str'>
valuetype: <class 'bool'>
keytype: <class 'str'>
valuetype: <class 'int'>

**b)**

In [6]:
schema = {"id": int, "name": str, "is_active": bool, "age": int}
schema.keys()

dict_keys(['id', 'name', 'is_active', 'age'])

In [7]:
record["id"], schema["id"], record["is_active"], schema["is_active"] # record ger själva värdet, schema ger datatypen

(101, int, True, bool)

In [8]:
type(record["id"]) == schema["id"], type(record["id"]) == schema["is_active"]

(True, False)

In [9]:
isinstance(5, str) # checkar ifall första parametern är en klass av andra parametern

False

In [10]:
for key, datatype in schema.items(): # loopar igenom schema.items, och kollar att datatyperna stämmer
    print(record[key], datatype) # record ger value

    print(isinstance(record[key], datatype))

101 <class 'int'>
True
Erika <class 'str'>
True
True <class 'bool'>
True
45 <class 'int'>
True

In [11]:
validation_list = []
for key, datatype in schema.items():
    validation_list.append(isinstance(record[key], datatype))

all(validation_list) # all() kräver att alla värdena är True, annars blir det False

True

In [3]:
all([True, False]), any([True, False]) # any() returnerar True ifall något av värdena är True

(False, True)

In [23]:
all([isinstance(record[key], datatype) for key, datatype in schema.items()])

True

In [17]:
[key for key in schema]

['id', 'name', 'is_active', 'age']

**c)**

In [21]:
people_record = [
    {"id":102,
     "name":"Marcus",
     "is_active": True,
     "age": 34
     },
     {"id":103,
     "name":"David",
     "is_active": False,
     "age": 29         
     },
     {"id":104,
     "name":"Anna",
     "is_active": True,
     "age": 41.5         
     },
     {"id":106,
     "name":"Ingrid",
     "is_active": "Nope",
     "age": 8         
     }]

for record in people_record:
    print(f"ID: {record['id']}, Name: {record['name']}, Active: {record['is_active']}, Age: {record['age']}")

ID: 102, Name: Marcus, Active: True, Age: 34
ID: 103, Name: David, Active: False, Age: 29
ID: 104, Name: Anna, Active: True, Age: 41.5
ID: 106, Name: Ingrid, Active: Nope, Age: 8

**d)**

In [63]:
records = [
    {"id": 101, "name": "Erika", "is_active": True, "age": 45},
    {"id": 102, "name": "Marcus", "is_active": True, "age": 34},
    {"id": 103, "name": "David", "is_active": False, "age": 29},
    {"id": 104, "name": "Anna", "is_active": True, "age": 41.5},
    {"id": 106, "name": "Ingrid", "is_active": "NOPE", "age": 8}]

for record in records:
    print(record)

{'id': 101, 'name': 'Erika', 'is_active': True, 'age': 45}
{'id': 102, 'name': 'Marcus', 'is_active': True, 'age': 34}
{'id': 103, 'name': 'David', 'is_active': False, 'age': 29}
{'id': 104, 'name': 'Anna', 'is_active': True, 'age': 41.5}
{'id': 106, 'name': 'Ingrid', 'is_active': 'NOPE', 'age': 8}

In [41]:
schema = {
    "id": int,
    "name": str,
    "is_active": bool,
    "age": int
}

records = [
    {"id": 101, "name": "Erika", "is_active": True, "age": 45},
    {"id": 102, "name": "Marcus", "is_active": True, "age": 34},
    {"id": 103, "name": "David", "is_active": False, "age": 29},
    {"id": 104, "name": "Anna", "is_active": True, "age": 41.5},
    {"id": 106, "name": "Ingrid", "is_active": "NOPE", "age": 8} 
]

for record in records:
    validation_list = [isinstance(record[key], datatype) for key, datatype in schema.items()]
    is_valid = all(validation_list)

    print(f"Record ID: {record['id']} - Name: {record['name']} - Aktiv: {record['is_active']} - Age: {record['age']}.")
    print(f"Valid: {is_valid}")

Record ID: 101 - Name: Erika - Aktiv: True - Age: 45.
Valid: True
Record ID: 102 - Name: Marcus - Aktiv: True - Age: 34.
Valid: True
Record ID: 103 - Name: David - Aktiv: False - Age: 29.
Valid: True
Record ID: 104 - Name: Anna - Aktiv: True - Age: 41.5.
Valid: False
Record ID: 106 - Name: Ingrid - Aktiv: NOPE - Age: 8.
Valid: False

**e)**

In [43]:
def validation(list_of_dict, schema_check):
    for i in list_of_dict:
        validation_list = [isinstance(i[key], datatype) for key, datatype in schema_check.items()]
        is_valid = all(validation_list)

        print(f"Record ID: {i['id']} - Name: {i['name']} - Aktiv: {i['is_active']} - Age: {i['age']}.")
        print(f"Valid: {is_valid}")

validation(records, schema)

Record ID: 101 - Name: Erika - Aktiv: True - Age: 45.
Valid: True
Record ID: 102 - Name: Marcus - Aktiv: True - Age: 34.
Valid: True
Record ID: 103 - Name: David - Aktiv: False - Age: 29.
Valid: True
Record ID: 104 - Name: Anna - Aktiv: True - Age: 41.5.
Valid: False
Record ID: 106 - Name: Ingrid - Aktiv: NOPE - Age: 8.
Valid: False

In [57]:
def validation(list_of_dict, schema_check):
    for i in list_of_dict:
        # Lägg till en loop för att se varje värde
        for key, datatype in schema_check.items():
            print(f"Nyckel: {key}, Värde: {i[key]}")

        validation_list = [isinstance(i[key], datatype) for key, datatype in schema_check.items()]
        is_valid = all(validation_list)

        print(f"Record ID: {i['id']} - Name: {i['name']} - Aktiv: {i['is_active']} - Age: {i['age']}.")
        print(f"Valid: {is_valid}")
        print("-" * 50)  # Lägger till en separator för tydlighet

validation(records, schema)

Nyckel: id, Värde: 101
Nyckel: name, Värde: Erika
Nyckel: is_active, Värde: True
Nyckel: age, Värde: 45
Record ID: 101 - Name: Erika - Aktiv: True - Age: 45.
Valid: True
--------------------------------------------------
Nyckel: id, Värde: 102
Nyckel: name, Värde: Marcus
Nyckel: is_active, Värde: True
Nyckel: age, Värde: 34
Record ID: 102 - Name: Marcus - Aktiv: True - Age: 34.
Valid: True
--------------------------------------------------
Nyckel: id, Värde: 103
Nyckel: name, Värde: David
Nyckel: is_active, Värde: False
Nyckel: age, Värde: 29
Record ID: 103 - Name: David - Aktiv: False - Age: 29.
Valid: True
--------------------------------------------------
Nyckel: id, Värde: 104
Nyckel: name, Värde: Anna
Nyckel: is_active, Värde: True
Nyckel: age, Värde: 41.5
Record ID: 104 - Name: Anna - Aktiv: True - Age: 41.5.
Valid: False
--------------------------------------------------
Nyckel: id, Värde: 106
Nyckel: name, Värde: Ingrid
Nyckel: is_active, Värde: NOPE
Nyckel: age, Värde: 8
Record ID: 106 - Name: Ingrid - Aktiv: NOPE - Age: 8.
Valid: False
--------------------------------------------------

In [58]:
person = {"name": "Erik", "age": 25}

for key in person:
    print(f"Nyckel: {key}, Värde: {person[key]}")

# Skriver ut:
# Nyckel: name, Värde: Erik
# Nyckel: age, Värde: 25

Nyckel: name, Värde: Erik
Nyckel: age, Värde: 25

In [59]:
person = {"name": "Erik", "age": 25}

for key in person:
    print(f"{key}")

# Skriver ut:
# Nyckel: name, Värde: Erik
# Nyckel: age, Värde: 25

name
age

## 2. Data quality check

In [45]:
example_list = list(range(10))
example_list_none = list(range(9)) + [None] # 9 siffror 0-8 + None
example_list_large = list(range(2910))
example_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
example_list_none

[0, 1, 2, 3, 4, 5, 6, 7, 8, None]

In [47]:
len(example_list) == 10

True

In [48]:
example_list_large

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [49]:
None in example_list, None in example_list_none

(False, True)

In [51]:
if len(example_list) == 10 and None not in example_list:
    print("Woho!")

if len(example_list_none) == 10 and None not in example_list_none:
    print("woho!")
else:
    print("None finns.")

if len(example_list_large) == 10 and None not in example_list_large:
    print("Woho!")
else:
    print("tyvärr")

Woho!
None finns.
tyvärr

In [64]:
def quality_check(list_):
    if len(list_) != 10 or None in list_:
        raise ValueError(f"""
                         Your list must have 10 elements and not contain None.
                         Length of our list was {len(list_)}. None in list: {None in list_} """)
    print("your list containt no Nones and is 10")
try:    
    quality_check(example_list_none)
except ValueError as err:
    print(err)

                         Your list must have 10 elements and not contain None.
                         Length of our list was 10. None in list: True

In [65]:
quality_check(example_list)

your list containt no Nones and is 10

In [46]:
try:    
    quality_check(example_list_large)
except ValueError as err:
    print(err)

                         Your list must have 10 elements and not contain None.
                         Length of our list was 2910. None in list: False

**3**

**Minnesanvändning:
file.read() läser in HELA filen i minnet på en gång
for line in file läser en rad i taget (mer minneseffektivt)
När använda vilken:
Använd file.read() för små filer eller när du behöver hela innehållet på en gång
Använd for line in file för stora filer eller när du kan bearbeta en rad i taget**

In [90]:
with open('data/network.log', 'r') as file: # blir skumt eftersom när man använder file.read() så får man hela filen som en sträng
    network = file.read() # och när man loopar igenom en sträng får man igenom den char för char
for i in network:
    print(i)

2
0
2
4
-
0
6
-
0
1

0
9
:
0
0
:
0
0

|

S
o
u
r
c
e
:

1
0
.
0
.
0
.
1

|

D
e
s
t
i
n
a
t
i
o
n
:

1
0
.
0
.
0
.
2

|

P
r
o
t
o
c
o
l
:

T
C
P

|

B
y
t
e
s
:

1
0
2
4


2
0
2
4
-
0
6
-
0
1

0
9
:
0
5
:
0
0

|

S
o
u
r
c
e
:

1
0
.
0
.
0
.
2

|

D
e
s
t
i
n
a
t
i
o
n
:

1
0
.
0
.
0
.
3

|

P
r
o
t
o
c
o
l
:

U
D
P

|

B
y
t
e
s
:

2
0
4
8


2
0
2
4
-
0
6
-
0
1

0
9
:
1
0
:
0
0

|

S
o
u
r
c
e
:

1
0
.
0
.
0
.
3

|

D
e
s
t
i
n
a
t
i
o
n
:

1
0
.
0
.
0
.
1

|

P
r
o
t
o
c
o
l
:

T
C
P

|

B
y
t
e
s
:

5
1
2

In [1]:
with open('data/network.log', 'r') as file: # OBS detta är utan "network = file.read()"

    print(file)
    for line in file:
        print(line)
        print(file)

<_io.TextIOWrapper name='data/network.log' mode='r' encoding='cp1252'>
2024-06-01 09:00:00 | Source: 10.0.0.1 | Destination: 10.0.0.2 | Protocol: TCP | Bytes: 1024

<_io.TextIOWrapper name='data/network.log' mode='r' encoding='cp1252'>
2024-06-01 09:05:00 | Source: 10.0.0.2 | Destination: 10.0.0.3 | Protocol: UDP | Bytes: 2048

<_io.TextIOWrapper name='data/network.log' mode='r' encoding='cp1252'>
2024-06-01 09:10:00 | Source: 10.0.0.3 | Destination: 10.0.0.1 | Protocol: TCP | Bytes: 512

<_io.TextIOWrapper name='data/network.log' mode='r' encoding='cp1252'>

In [76]:
network = network.split("|")
network 
# network = network.split("")

['2024-06-01 09:00:00 ',
 ' Source: 10.0.0.1 ',
 ' Destination: 10.0.0.2 ',
 ' Protocol: TCP ',
 ' Bytes: 1024\n2024-06-01 09:05:00 ',
 ' Source: 10.0.0.2 ',
 ' Destination: 10.0.0.3 ',
 ' Protocol: UDP ',
 ' Bytes: 2048\n2024-06-01 09:10:00 ',
 ' Source: 10.0.0.3 ',
 ' Destination: 10.0.0.1 ',
 ' Protocol: TCP ',
 ' Bytes: 512\n']

In [86]:
source1 = network[:5]
source2 = network[5:9]
source2

[' Source: 10.0.0.2 ',
 ' Destination: 10.0.0.3 ',
 ' Protocol: UDP ',
 ' Bytes: 2048\n2024-06-01 09:10:00 ']

### fortsätter en annan gång, nedan är chatgpt's lösning

In [13]:
# Dictionary för att hålla koll på total bytes per protokoll
protocol_bytes = {
    'TCP': 0,
    'UDP': 0
}

# Läs och bearbeta logfilen
with open('data/network.log', 'r') as file:
    for line in file:
        # print(line)
        # Dela upp raden vid '|'
        parts = line.strip().split(' | ')

        # Extrahera relevant information
        # Vi skippar första delen (timestamp) och tar resten
        source = parts[1].split(': ')[1]
        destination = parts[2].split(': ')[1]
        protocol = parts[3].split(': ')[1]
        bytes_size = int(parts[4].split(': ')[1])

        # Skriv ut formaterad rad
        print(f"Source: {source} | Destination: {destination} | Protocol: {protocol} | Bytes: {bytes_size}")

        # Uppdatera totala bytes för protokollet
        protocol_bytes[protocol] += bytes_size

# Skriv ut sammanfattningen
print("\nData Transfer Summary:")
for protocol, bytes_total in protocol_bytes.items():
    print(f"{protocol}: {bytes_total} bytes")

Source: 10.0.0.1 | Destination: 10.0.0.2 | Protocol: TCP | Bytes: 1024
Source: 10.0.0.2 | Destination: 10.0.0.3 | Protocol: UDP | Bytes: 2048
Source: 10.0.0.3 | Destination: 10.0.0.1 | Protocol: TCP | Bytes: 512

Data Transfer Summary:
TCP: 1536 bytes
UDP: 2048 bytes

In [14]:
# Med defaultdict istället
from collections import defaultdict
# Dictionary för att hålla koll på total bytes per protokoll
protocol_bytes = defaultdict(int)

# Läs och bearbeta logfilen
with open('data/network.log', 'r') as file:
    for line in file:
        parts = line.strip().split(' | ')
        source = parts[1].split(': ')[1]
        destination = parts[2].split(': ')[1]
        protocol = parts[3].split(': ')[1]
        bytes_size = int(parts[4].split(': ')[1])

        # Skriv ut formaterad rad
        print(f"Source: {source} | Destination: {destination} | Protocol: {protocol} | Bytes: {bytes_size}")

        # Uppdatera totala bytes för protokollet
        protocol_bytes[protocol] += bytes_size

# Skriv ut sammanfattningen
print("\nData Transfer Summary:")
for protocol, bytes_total in protocol_bytes.items():
    print(f"{protocol}: {bytes_total} bytes")

Source: 10.0.0.1 | Destination: 10.0.0.2 | Protocol: TCP | Bytes: 1024
Source: 10.0.0.2 | Destination: 10.0.0.3 | Protocol: UDP | Bytes: 2048
Source: 10.0.0.3 | Destination: 10.0.0.1 | Protocol: TCP | Bytes: 512

Data Transfer Summary:
TCP: 1536 bytes
UDP: 2048 bytes

**4**

In [1]:
import json

with open('data/paid.json', 'r') as file:
    data = json.load(file)
data

[{'name': 'Alice', 'paid': 100},
 {'name': 'Bob', 'paid': 200},
 {'name': 'Alice', 'paid': 150},
 {'name': 'Erik', 'paid': 180},
 {'name': 'Maja', 'paid': 220},
 {'name': 'Bob', 'paid': 180},
 {'name': 'Alice', 'paid': 130},
 {'name': 'Oskar', 'paid': 140},
 {'name': 'Elsa', 'paid': 170},
 {'name': 'Maja', 'paid': 250},
 {'name': 'Liam', 'paid': 210},
 {'name': 'Alice', 'paid': 190},
 {'name': 'Astrid', 'paid': 190},
 {'name': 'Elsa', 'paid': 150},
 {'name': 'Bob', 'paid': 120},
 {'name': 'Erik', 'paid': 200},
 {'name': 'Maja', 'paid': 180},
 {'name': 'Liam', 'paid': 170},
 {'name': 'Bob', 'paid': 140},
 {'name': 'Oskar', 'paid': 160},
 {'name': 'Freja', 'paid': 240},
 {'name': 'Hugo', 'paid': 250},
 {'name': 'Freja', 'paid': 200},
 {'name': 'Nils', 'paid': 130},
 {'name': 'Freja', 'paid': 180},
 {'name': 'Wilma', 'paid': 200},
 {'name': 'Alexander', 'paid': 260},
 {'name': 'Clara', 'paid': 280},
 {'name': 'Alice', 'paid': 175},
 {'name': 'Selma', 'paid': 175},
 {'name': 'Erik', 'paid': 190},
 {'name': 'Elias', 'paid': 190}]

In [3]:
from collections import defaultdict

pay_sum = defaultdict(int) # Med defaultdict, om nyckeln inte finns, skapas den automatiskt med ett standardvärde (i detta fall 0 eftersom vi använder int).
for i in data: # första iteratione, loopar igenom elementen i listan
    print(i)
    for key, value in i.items(): # andra iterationen kan vi använda .items() eftersom det är dicts, så vi loopar igenom key:value
        print(f"key: {key} value: {value}")
        pay_sum[key] += i[value]

{'name': 'Alice', 'paid': 100}
key: name value: Alice

KeyError: 'Alice'

**lösningen**

In [11]:
# Iterera över varje dictionary i listan
for record in data:
    # Här är varje "record" en dictionary
    name = record["name"]
    payment = record["paid"]
    pay_sum[name] += payment  # Summera betalningarna för varje namn

# Skriv ut resultatet
for name, total_payment in pay_sum.items():
    print(f"Name: {name}, Total Payment: {total_payment}")

pay_sum = dict(pay_sum) # gör om den till en vanlig dict igen, så den kan bli en json fil

with open ("payment_sum.json", 'w') as json_file:
    json.dump(pay_sum, json_file, indent=4) # json.dump används för att skriva en dict till en fil

Name: name, Total Payment: 0
Name: Alice, Total Payment: 1490
Name: Bob, Total Payment: 1280
Name: Erik, Total Payment: 1140
Name: Maja, Total Payment: 1300
Name: Oskar, Total Payment: 600
Name: Elsa, Total Payment: 640
Name: Liam, Total Payment: 760
Name: Astrid, Total Payment: 380
Name: Freja, Total Payment: 1240
Name: Hugo, Total Payment: 500
Name: Nils, Total Payment: 260
Name: Wilma, Total Payment: 400
Name: Alexander, Total Payment: 520
Name: Clara, Total Payment: 560
Name: Selma, Total Payment: 350
Name: Elias, Total Payment: 380

**5**

In [124]:
import time
simualated_stream = ["record1", "record2", "record3", "record4", "STOP", "record5"]
end_message = "Data stream processing completed. Have a nice day"
stop_message = "STOP signal encountered. Ending stream processing."

In [125]:
print("Starting data stream processing...")

for i in simualated_stream:
    if i == "STOP":
        print(stop_message)
        break
    else:
        print(f"Processed: {i}")
        time.sleep(1)
end_message

Starting data stream processing...
Processed: record1
Processed: record2
Processed: record3
Processed: record4
STOP signal encountered. Ending stream processing.

'Data stream processing completed. Have a nice day'

a) What are the fundamental data types in Python?
The fundamental data types in Python include:

Numeric types: int, float, complex
Sequence types: str, list, tuple, range
Mapping type: dict
Set types: set, frozenset
Boolean type: bool
Binary types: bytes, bytearray, memoryview
None type: NoneType

b) What is the difference between a list and a tuple in Python?
Mutability: Lists are mutable (can be modified), while tuples are immutable (cannot be modified after creation).
Performance: Tuples are generally faster than lists due to their immutability.
Use case: Lists are used for collections of items that may change, while tuples are used for fixed collections of items.

c) How does Python handle mutable and immutable data types?
Mutable types: These can be changed after creation (e.g., list, dict, set). Changes affect the original object.
Immutable types: These cannot be changed after creation (e.g., int, float, str, tuple). Any modification creates a new object.

d) Explain the difference between for and while loops and when to use one or the other.
For loop: Iterates over a sequence (e.g., list, range, string). Use it when the number of iterations is known or when iterating over a collection.
While loop: Repeats as long as a condition is true. Use it when the number of iterations is unknown and depends on a condition.

e) How do you read a file line-by-line in Python?
with open('file.txt', 'r') as file:
    for line in file:
        print(line.strip())

f) What is a context manager and why would you need to use it?
A context manager is a construct in Python that manages resources (e.g., files, database connections) and ensures proper cleanup after use. It is implemented using the with statement. Example:
with open('file.txt', 'r') as file:
    data = file.read()

g) Explain the difference between try, except, else, and finally.
try: Block where you write code that might raise an exception.
except: Block to handle exceptions raised in the try block.
else: Block executed if no exceptions occur in the try block.
finally: Block executed regardless of whether an exception occurred or not.

h) What is the difference between ETL and ELT?
ETL (Extract, Transform, Load): Data is extracted, transformed, and then loaded into the target system.
ELT (Extract, Load, Transform): Data is extracted, loaded into the target system, and then transformed within the system.

i) Differentiate between batch processing and streaming processing.
Batch processing: Processes data in large chunks or batches at scheduled intervals. Suitable for historical data analysis.
Streaming processing: Processes data in real-time as it arrives. Suitable for real-time analytics and monitoring.

j) What is a data platform?
A data platform is an integrated set of tools and technologies that enable the collection, storage, processing, and analysis of data. It supports data pipelines, analytics, and decision-making.


**Glossary**
Terminology	Explanation
assign	To give a value to a variable (e.g., x = 10).
logical error	An error in the program logic that produces incorrect results.
handling error	Managing exceptions or errors in a program using constructs like try.
indexing	Accessing elements in a sequence using their position (e.g., list[0]).
slicing	Extracting a portion of a sequence (e.g., list[1:4]).
iterable	An object that can be iterated over (e.g., lists, strings).
iterate over	To loop through elements of an iterable.
list comprehension	A concise way to create lists (e.g., [x**2 for x in range(5)]).
collections	Data structures like list, dict, set, and tuple.
tuples	Immutable sequences in Python (e.g., (1, 2, 3)).
__repr__	A method to define a string representation of an object for developers.
dunder methods	Special methods in Python with double underscores (e.g., __init__).
pythonic	Writing code that follows Python's idioms and best practices.
idiomatic	Writing code that is natural and adheres to the conventions of a language.
DRY	"Don't Repeat Yourself" - a principle to avoid code duplication.
spaghetti code	Poorly structured code that is hard to read and maintain.
keyword arguments	Arguments passed by name (e.g., func(arg=value)).
positional arguments	Arguments passed by position (e.g., func(10, 20)).
*args	Collects additional positional arguments in a function.
**kwargs	Collects additional keyword arguments in a function.
unpacking list	Extracting elements from a list (e.g., a, b = [1, 2]).
return statement	Used to return a value from a function.
ternary operator	A one-line conditional expression (e.g., x = a if condition else b).
JSON	A lightweight data format for exchanging data, often used in APIs.
JSON Conversion to Python
The image explains how JSON data is converted to Python data types:

JSON object → Python dictionary
JSON array → Python list
JSON string → Python string
JSON number → Python int or float
JSON boolean → Python bool
JSON null → Python None