code alongs python fundamentals 1

In [3]:
my_fruit = input("sÃ¤g en frukt: ")

print(f"I like to eat: {my_fruit}")

I like to eat: apple

In [3]:
age = input("give me your age: ")
print(f"in five years you are {age + 5} age years old")

KeyboardInterrupt: Interrupted by user

In [2]:
age, type(age)

NameError: name 'age' is not defined

In [ ]:
# tuple
# in jupyter notebook: the __repr__ of the object instance is outputter for the last line
age, type(age)

In [ ]:
age = 33
loves_math = True
type(age), age, type(loves_math)

In [ ]:
print(f"{loves_math} = ")

In [ ]:
## Collections

- list
- tuples
- sets 
- dictionary

In [6]:
interests = ["badminton", "yoga", "math", "programming"]

person = ["Alexander", 39, True]

person
interests

['badminton', 'yoga', 'math', 'programming']

In [7]:
type(person), type(person[1])

(list, int)

In [8]:
interests[1:3]

['yoga', 'math']

In [10]:
interests[-1], interests[::-1]

('programming', ['programming', 'math', 'yoga', 'badminton'])

In [12]:
person.append(interests)
person

['Alexander', 39, True, ['badminton', 'yoga', 'math', 'programming']]

In [14]:
person[-1][-2][::-1]

'htam'

In [15]:
persons_interests = person[-1]
persons_interests[-2]

'math'

In [17]:
for interests in persons_interests:
    print(interests)

# java: 
# for (int i = 0; 1< persons_interests.length; i++){
#   system.out.print(persons_interesta[i])
# }
print("\nDont do this")
for i in range(len(persons_interests)):
    print(persons_interests[i])

badminton
yoga
math
programming

In [18]:
for i in range(len(persons_interests)):
    print(i+1, persons_interests[i])

1 badminton
2 yoga
3 math
4 programming

In [22]:
for i, interests in enumerate(persons_interests, 1):
    print(i, interests)

1 badminton
2 yoga
3 math
4 programming

In [ ]:
### list creation

- append
- list comprehension

In [24]:
numbers = []

for i in range(1,10):
    numbers.append(i)

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
odd_numbers_squared = [i**2 for i in numbers if i % 2]
odd_numbers_squared

[1, 9, 25, 49, 81]

### dictionary
-key:value pairs

In [31]:
courses = {"python": 40, "sql":30, "data_platform": 40, "data_modeling" : 30, "visualisation": 40}
courses

{'python': 40,
 'sql': 30,
 'data_platform': 40,
 'data_modeling': 30,
 'visualisation': 40}

In [32]:
courses.keys()

dict_keys(['python', 'sql', 'data_platform', 'data_modeling', 'visualisation'])

In [33]:
len(courses.keys())

5

In [34]:
courses.values()

dict_values([40, 30, 40, 30, 40])

In [36]:
for course in courses:
    print(course, courses[course])

python 40
sql 30
data_platform 40
data_modeling 30
visualisation 40

In [42]:
print(f"{'Course':<40} Points")
for course, points in courses.items():
    print(f"{course:<40} {points}")

Course                                   Points
python                                   40
sql                                      30
data_platform                            40
data_modeling                            30
visualisation                            40

### Strings

In [43]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [47]:
" ".join(ml_term.strip().split()).lower()

'supervised learning'